<li class="portal-v2-item">
  <div class="portal-v2-item-top">
    <h3 class="portal-v2-item-title">[[AllocationDisplay]]</h3>
    <p class="portal-v2-item-status">[[AllocatedAmount]]</p>
  </div>
  <p class="portal-v2-item-meta">Created: [[Description]]</p>
</li>