<li class="portal-v2-item">
  <div class="portal-v2-item-top">
    <h3 class="portal-v2-item-title">Refund</h3>
    <p class="portal-v2-item-status">[[RefundAmount]]</p>
  </div>
  <p class="portal-v2-item-meta">Date: [[RefundDate]]</p>
  <p class="portal-v2-item-meta">Reason: [[RefundReason]]</p>
</li>