<li>
  <a class="portal-v2-item-link" href="[[ProjectUrl]]">
    <div class="portal-v2-item">
      <div class="portal-v2-item-top">
        <h2 class="portal-v2-item-title">[[ProjectName]]</h2>
        <p class="portal-v2-item-status">[[Status]]</p>
      </div>
      <p class="portal-v2-item-meta">Last Activity: [[LastActivityOn]]</p>
    </div>
  </a>
</li>